<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <!-- CDN -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/start.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- JavaScript -->
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../assets/Global_Assets/A's Logo.png" width="140px">
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Welcome to A's Glass & <br>Aluminum Works</h1>
                <p>We offer high quality service together <br> with high quality products</p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="../assets/Global_Assets/glass-building.png">
            </div>
        </div>
    </div> 
</div>
<!-- featured Products -->
<div class="ftCats">
    <div class="small-container">
        <h2 class="title">Featured Categories</h2>
        <div class="row">
            <div class="col-3">
                <img src="../assets/Start_Assets/window1.jpg">
            </div>
            <div class="col-3">
                <img src="../assets/Start_Assets/kitchen.jpg">
            </div>
            <div class="col-3">
                <img src="../assets/Start_Assets/kfurnitures.jpg">
            </div>
        </div>
    </div>
</div>
<!-- featured products -->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="../assets/Start_Assets/prod1.jpg">
            <h4>Kitchen Cabinets</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="../assets/Start_Assets/prod2.jpg">
            <h4>Cabinet</h4>
        </div>
        <div class="col-4">
            <img src="../assets/Start_Assets/prod3.jpg">
            <h4>Installed Sliding Window</h4>
        </div>
        <div class="col-4">
            <img src="../assets/Start_Assets/prod4.jpg">
            <h4>Living Room Cabinet</h4>
        </div>
        <div class="col-4">
            <img src="../assets/Start_Assets/prod5.jpg">
            <h4>Kitchen Cabinet</h4>
        </div>
        <div class="col-4">
            <img src="../assets/Start_Assets/prod6.jpg">
            <h4>Kitchen Cabinet Drawer</h4>
        </div>
    </div>
</div>
<!-- Offer -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../assets/Start_Assets/offer.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on A's Glass & Aluminum</p>
                <h1>Cabinet</h1>
                <small>Who says gray is a dull color, <br>if this cabinets are superb.

                </small><br>
                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>