
.about-page {
    background: rgba(242, 242, 242, 0.733);
    margin-top: 5px;
}
.small-container{
    max-width: 1080px;
    height: 120px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.col-2 h1 {
    margin-top: 20%;
    font-size: 40px;
    font-weight: 400px;
}
/* About page content */
.whenWestart {
    background: rgba(242, 242, 242, 0.733);
}
.small-container2 {
    max-width: 1080px;
    height: 380px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-3 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-3 img {
    width: 500px;
    height: 426px;
    padding: 80px 20px;
}
.col-3 h2{
    margin-left: 10px;
}
.col-3 ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 1.5em;
}
.col-3 ul li::before {
    content: "\2022";
    color: #555;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-top: 10px;
}
.whenWestart .col-3 p{
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
}
.whatWehave .col-3 p{
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
}
.OurMission {
    background: rgba(242, 242, 242, 0.733);
    margin-top: 10px;
}
.OurMission .col-3 p {
    margin-left: 10px;
    color: #000;
}
.OurDirectors .col-3 p,h3{
    margin-left: 10px;
    margin-top: 5px;
    color: #000;
}