* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    height: 100vh;
    max-width: 1080px;
    margin-left: 280px;
}
.small-container2 {
    margin-left: -15px;
    padding: 5px;
}
.prodtitle {
    margin-left: 50%;
}
.prodContent {
    margin-bottom: 20px;
}
.productForm {
    display: flex;
    justify-content: space-evenly;
}
.productForm .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.productForm .input-box .formSpan {
    display: block;
    font-weight: 600px;
    margin-bottom: 5px;
}
form .input-box input[type="text"], input[type="number"], input[type="file"], .pcateg, textarea {
    width: 90%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
}
form .input-box input[type="text"]:focus, input[type="number"]:focus, input[type="file"]:focus, .pcateg:focus, textarea:focus {
    border: 1px solid #2fccf8;
}
form input[type="submit"]{
    height: 40px;
    margin-left: 30%;
    width: 30%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #2fccf8;
    margin-top: 20px;
    cursor: pointer;
}
hr {
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}