* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prodContainer {
    height: 100vh;
    max-width: 1080px;
    margin-left: 280px;
}
.prodContainer2 {
    margin-left: -25px;
    padding: 5px;
}

hr {
    margin-top: 10px;
}
