/* header */
.header .row {
    margin-top: 40px;
}
.header .row1 {
    margin-top: 40px;
}
/* Welcome Column */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    margin-top: -60px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 45px;
    line-height: 60px;
    margin: 25px auto;
}
/* About Us Column */
.col-2-5 {
    flex-basis: 50%;
    min-width: 300px;
    margin-top: -60px;
}
.col-2-5 img {
    max-width: 100%;
    padding: 70px 20px;
}

.about {
    margin-top: 50px;
    padding: 30px 0;
}
.about p {
    margin-top: 20px;
}
/* whyUs Column */
.col-5 {
    flex-basis: 50px;
    min-width: 250px;
    margin-top: -50px;
    margin-bottom: 80px;
}

.col-5 .bi {
    font-size: 50px;
    color: #2fccf8;
    margin-left: 100px;
}

.col-5 h3, .why {
    text-align: center;
}
/* Others */
h4 {
    color: #555;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content: '';
    background: #2fccf8;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateY(-50%);
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* buttons */
.btn {
    display: inline-block;
    background: #2fccf8;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 3px;
    transition: background 0.5s;
}

.btn:hover {
    opacity: 0.5;
}
.order-btn {
    display: inline-block;
    background: #2fccf8;
    color: #fff;
    padding: 5px 15px;
    margin-left: 33%;
    border-radius: 3px;
    transition: background 0.5s;
    font-size: 15px;
    margin-bottom: 8px;
}
.order-btn:hover {
    opacity: 0.5;
}
.view-btn {
    display: inline-block;
    background: #2fccf8;
    color: #fff;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 3px;
    transition: background 0.5s;
    font-size: 15px;
    margin-bottom: 8px;
}
.view-btn:hover {
    opacity: 0.5;
}
.view-btn i {
    margin-left: 5px;
}
/* For col-3 and 4 */
.small-container1 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin: 20px 10px;
}

/* products column */
.products {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 70px;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.col-3 img {
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
}

/* services column */

