@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body .lgnContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-left: 20px;
}
.lgnsmall-container {
    max-width: 870px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: -110px;
    border: 1px solid #2fccf8;
}
.lgnsmall-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
}
.lgnsmall-container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #2fccf8;
    left: 0;
    bottom: 0;
}
.lgnsmall-container form .lgn-details {
    display: inline-block;
    justify-content: space-around;
}
form .lgn-details .input-box {
    margin-bottom: 5px;
    width: 400px;
}

.lgn-details .input-box .details {
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
}
.lgn-details .input-box input[type="text"], input[type="password"]
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
}
.lgn-details .input-box input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #2fccf8;
}
form .button input[type="submit"]
{
    height: 40px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #2fccf8;
    margin-top: 20px;
    cursor: pointer;
}
form .button input[type="submit"]:hover 
{
    opacity: 0.8;
}
.lgnContainer p {
    font-size: 15px;
    margin-top: 10px;
}
form .rgstrnw {
    list-style: none;
}
form .rgstr {
    color: #2fccf8;
}
form .rgstr:hover {
    color: #555;
}
#error {
    color: red;
}
@media (max-width: 584px) {
    .lgnsmall-container {
        max-width: 100%;
    }
    form .lgn-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
}