.services-page {
    background: #2fccf8;
    margin-top: 5px;
}
.small-container{
    max-width: 1080px;
    height: 120px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.col-2 h1 {
    margin-top: 20%;
    font-size: 40px;
    font-weight: 400px;
}